<div ng-include="'views/coordinatorMenu.html'"></div>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" name="status" class="form-control" ng-model="selectedStatusName" ng-change="updateVehicleList()">
                <option value="All">All</option>
                <option value="{{status.name}}" ng-repeat="status in statuses">
                    {{status.name}}
                </option>
            </select>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered">
    <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Registration Number</th>
        <th class="text-center">Brand</th>
        <th class="text-center">Model</th>
        <th class="text-center">Color</th>
        <th class="text-center">First Registration Date</th>
        <th class="text-center">Travelled Distance (km)</th>
        <th class="text-center">Current Value (euro)</th>
        <th class="text-center">Status</th>
        <th class="text-center">Action</th>
    </tr>
    <tr ng-repeat="vehicle in vehicles">
        <td class="text-center">
            {{vehicle.id}}
        </td>
        <td class="text-center">
            {{vehicle.registrationNumber}}
        </td>
        <td class="text-center">
            {{vehicle.brand}}
        </td>
        <td class="text-center">
            {{vehicle.model}}
        </td>
        <td class="text-center" style="background-color:{{vehicle.color.hex}}">
            {{vehicle.color.name}}
        </td>
        <td class="text-center">
            {{vehicle.firstRegistrationDate | date: 'dd-MM-yyyy'}}
        </td>
        <td class="text-center">
            {{vehicle.travelledDistance}}
        </td>
        <td class="text-center">
            {{vehicle.currentValue}}
        </td>
        <td class="text-center">
            {{vehicle.status.name}}
        </td>
        <td class="text-center">
            <button type="button" class="btn btn-info" ng-click="view(vehicle.id)">View</button>
        </td>
    </tr>
</table>
