<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" name="status" class="form-control" ng-model="selectedStatus.name" ng-change="updatePlanificationList()">
                <option value="All">All</option>
                <option value="{{status.name}}" ng-repeat="status in statuses">
                    {{status.name}}
                </option>
            </select>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered">
    <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Starting Address</th>
        <th class="text-center">Destination Address</th>
        <th class="text-center">Cargo</th>
        <th class="text-center">Company Reward (euro)</th>
        <th class="text-center">Driver Reward (euro)</th>
        <th class="text-center">Vehicle</th>
        <th class="text-center">Driver</th>
        <th class="text-center">Status</th>
        <th class="text-center">Delivery Date</th>
        <th class="text-center">Action</th>
    </tr>
    <tr ng-repeat="planification in planifications">
        <td class="text-center">
            {{planification.id}}
        </td>
        <td class="text-center">
            [{{planification.delivery.startingAddress.country.name}}] {{planification.delivery.startingAddress.city}}
        </td>
        <td class="text-center">
            [{{planification.delivery.destinationAddress.country.name}}] {{planification.delivery.destinationAddress.city}}
        </td>
        <td class="text-center">
            {{planification.delivery.cargo}}
        </td>
        <td class="text-center">
            {{planification.delivery.companyReward}}
        </td>
        <td class="text-center">
            {{planification.delivery.driverReward}}
        </td>
        <td class="text-center">
            {{planification.truck.brand}} {{planification.truck.model}}
        </td>
        <td class="text-center">
            {{planification.driver.firstName}} {{planification.driver.lastName}}
        </td>
        <td class="text-center">
            {{planification.status.name}}
        </td>
        <td class="text-center">
            {{(planification.delivery.deliveryDate | date: 'dd-MM-yyyy') || "N/A"}}
        </td>
        <td class="text-center">
            <button type="button" class="btn btn-info" ng-click="view(planification.id)">View</button>
        </td>
    </tr>
</table>
