<div ng-include="'views/coordinatorMenu.html'"></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" ng-hide="selectedDeliveryId == 0">
            Delivery
            <b>{{selectedDelivery.cargo}}</b>
            from
            <b>[{{selectedDelivery.startingAddress.country.name}}] {{selectedDelivery.startingAddress.city}}</b>
            to
            <b>[{{selectedDelivery.destinationAddress.country.name}}] {{selectedDelivery.destinationAddress.city}}</b>
        </h2>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="delivery">Delivery:</label>
                    <select id="delivery" name="delivery" class="form-control" ng-model="selectedDeliveryId" ng-change="updateSelectedDelivery()">
                        <option value="0">--- Select a delivery ---</option>
                        <option value="{{delivery.id}}" ng-repeat="delivery in availableDeliveries">
                            {{delivery.cargo}} : [{{delivery.startingAddress.country.name}}] {{delivery.startingAddress.city}} ->
                            [{{delivery.destinationAddress.country.name}}] {{delivery.destinationAddress.city}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="startingAddress">Starting Address:</label>
                    <span id="startingAddress" class="form-control">
                        [{{selectedDelivery.startingAddress.country.name}}] {{selectedDelivery.startingAddress.city}}
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="destinationAddress">Destination Address:</label>
                    <span id="destinationAddress" class="form-control">
                        [{{selectedDelivery.destinationAddress.country.name}}] {{selectedDelivery.destinationAddress.city}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="cargo">Cargo:</label>
                    <span id="cargo" class="form-control">
                        {{selectedDelivery.cargo}}
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="cargoWeight">Cargo Weight (tons):</label>
                    <span id="cargoWeight" class="form-control">
                        {{selectedDelivery.cargoWeight}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="companyReward">Company Reward (euro):</label>
                    <span id="companyReward" class="form-control">
                        {{selectedDelivery.companyReward}}
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="driverReward">Driver Reward (euro):</label>
                    <span id="driverReward" class="form-control">
                        {{selectedDelivery.driverReward}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="priority">Priority:</label>
                    <span id="priority" class="form-control">
                        {{selectedDelivery.priority.name}}
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="deliveryStatus">Status:</label>
                    <span id="deliveryStatus" class="form-control">
                        {{selectedDelivery.status.name}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" ng-hide="selectedVehicleId == 0">
            Vehicle <b>{{selectedVehicle.brand}} {{selectedVehicle.model}}</b>
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="vehicle">Vehicle:</label>
                    <select id="vehicle" name="vehicle" class="form-control" ng-model="selectedVehicleId" ng-change="updateSelectedVehicle()">
                        <option value="0">--- Select a vehicle ---</option>
                        <option value="{{vehicle.id}}" ng-repeat="vehicle in availableVehicles">
                            [{{vehicle.registrationNumber}}] {{vehicle.brand}} {{vehicle.model}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="registrationNumber">Registration Number:</label>
                    <span id="registrationNumber" class="form-control">{{selectedVehicle.registrationNumber}}</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="firstRegistrationDate">First Registration Date:</label>
                    <span id="firstRegistrationDate" class="form-control">{{selectedVehicle.firstRegistrationDate | date: 'dd-MM-yyyy'}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="brand">Brand:</label>
                    <span id="brand" class="form-control">{{selectedVehicle.brand}}</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="model">Model:</label>
                    <span id="model" class="form-control">{{selectedVehicle.model}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="travelledDistance">Travelled distance (km):</label>
                    <span id="travelledDistance" class="form-control">{{selectedVehicle.travelledDistance}}</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="currentValue">Current value (euro):</label>
                    <span id="currentValue" class="form-control">{{selectedVehicle.currentValue}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="color">Color:</label>
                    <span id="color" class="form-control" style="background-color:{{selectedVehicle.color.hex}}">
                        {{selectedVehicle.color.name}}
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="vehicleStatus">Status:</label>
                    <span id="vehicleStatus" class="form-control">{{selectedVehicle.status.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" ng-hide="selectedEmployeeId == 0">
            Employee <b>{{selectedEmployee.firstName}} {{selectedEmployee.lastName}}</b>
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="employee">Driver:</label>
                    <select id="employee" name="employee" class="form-control" ng-model="selectedEmployeeId" ng-change="updateSelectedEmployee()">
                        <option value="0">--- Select a driver ---</option>
                        <option value="{{employee.id}}" ng-repeat="employee in availableEmployees">
                            {{employee.firstName}} {{employee.lastName}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="firstName">First name:</label>
                    <span id="firstName" class="form-control">{{selectedEmployee.firstName}}</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="lastName">Last name:</label>
                    <span id="lastName" class="form-control">{{selectedEmployee.lastName}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <span id="email" class="form-control">{{selectedEmployee.email}}</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <span id="phone" class="form-control">{{selectedEmployee.phone}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="hireDate">Hire date:</label>
                    <span id="hireDate" class="form-control">{{selectedEmployee.hireDate | date: 'dd-MM-yyyy'}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="salary">Account Type:</label>
                    <span id="salary" class="form-control">{{selectedEmployee.accountType.name}}</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="employeeStatus">Status:</label>
                    <span id="employeeStatus" class="form-control">{{selectedEmployee.status.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group text-center">
            <a class="btn btn-primary" role="button" ng-click="save(planification)">Save</a>
            <a class="btn btn-danger" role="button" ng-click="reset()">Reset</a>
        </div>
    </div>
</div>